#header {
    width: 100%;
    border-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#next-date {
    border-radius: 10px;
    -unity-font-style: bold;
}

.none {
    display: none;
}
